.PRList {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PRList__Table {
  height: 50rem;
  width: 80rem;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10rem;
  transform: translateY(-10rem);
}

.PRList__Table-Header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90%;
  justify-items: center;
  align-items: center;
  border-radius: 2px;
  height: 6rem;
  /* padding: 2rem; */
  margin-bottom: 2rem;
  color: var(--font-color);
  font-size: 1.5rem;
}

.left {
  justify-self: start;
  margin-left: 2rem;
}

.date-created {
  margin-right: -2rem;
}

.status {
  margin-right: 1rem;
}

.right {
  justify-self: end;
}

.Load__Button {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 10rem;
}

.Theme__Button {
  position: absolute;
  top: 5rem;
  right: 20rem;
  width: 10rem;
}
